---
import Layout from "../layouts/Layout.astro"
import Header from "../components/Header.astro"
import Content from "../components/Content.astro"
import Footer from "../components/Footer.astro"

const title = "Cliniservice - Expertos en salud ocupacional"
const description =
  "Servicios profesionales de salud ocupacional y evaluaciones psicológicas"
---

<Layout title={title} description={description}>
  <div
    class="flex flex-col min-h-screen bg-gray-900 text-white transition-colors duration-300"
  >
    <Header />
    <main class="flex-grow">
      <Content />
    </main>
    <Footer />
  </div>
</Layout>

<style is:global>
  :root {
    --primary-color: #60a5fa; /* Azul claro para modo oscuro */
    --secondary-color: #05db9a; /* Verde para modo oscuro */
    --bg-color: #111827; /* Gray 900 */
    --text-color: #ffffff; /* Texto blanco */
  }
</style>
