---

---

<section class="py-10 mx-auto text-4xl font-bold text-center text-blue-950 lg:py-16">
    <h2 class="[text-wrap:balance] uppercase">Cuestionarios CliniService</h2>

</section>

<section class="flex flex-col items-center flex-grow py-10 text-center md:pt-6 ">
    <nav class="flex flex-col items-center">
        <a class="w-full shadow-lg shadow-slate-300 max-w-sm px-6 py-3 mb-4 bg-[#0587BF] text-white text-sm rounded hover:bg-[#05DB9A] hover:text-black transition-colors duration-300 font-medium" 
        href="https://forms.office.com/Pages/ResponsePage.aspx?id=DQSIkWdsW0yxEjajBLZtrQAAAAAAAAAAAAMAAHMiJy9UMTdDQVBUM0xIUTc1NzY3S0VPUFVMM01LUi4u&origin=Invitation&channel=0" 
        target="_blank"
        rel="noopener"
        >
        TEST 16-PF
    </a>
        <a class="w-full shadow-lg shadow-slate-300 max-w-sm px-6 py-3 mb-4 bg-[#0587BF] text-white text-sm rounded hover:bg-[#05DB9A] hover:text-black transition-colors duration-300 font-medium"
         href="https://forms.office.com/Pages/ResponsePage.aspx?id=DQSIkWdsW0yxEjajBLZtrQAAAAAAAAAAAAMAAHMiJy9UMzJQU0UwTTdNSTdZUDdLSEFYQkhZM0FWUC4u&origin=Invitation&channel=0" 
         target="_blank"
         rel="noopener"
         >
         TEST DE CLAUSTROFOBIA
        </a>
        <a class="w-full shadow-lg shadow-slate-300 max-w-sm px-6 py-3 mb-4 bg-[#0587BF] text-white text-sm rounded hover:bg-[#05DB9A] hover:text-black transition-colors duration-300 font-medium"
         href="https://forms.office.com/Pages/ResponsePage.aspx?id=DQSIkWdsW0yxEjajBLZtrQAAAAAAAAAAAAMAAHMiJy9UMkFQWlkwVFNFVVo0SVdBSDJXNVdDMFJGTC4u&origin=Invitation&channel=0" 
         target="_blank"
         rel="noopener"
         >
         TEST DE HAMILTON
        </a>
        <a class="w-full shadow-lg shadow-slate-300 max-w-sm px-6 py-3 mb-4 bg-[#0587BF] text-white text-sm rounded hover:bg-[#05DB9A] hover:text-black transition-colors duration-300 font-medium" 
        href="https://forms.office.com/Pages/ResponsePage.aspx?id=DQSIkWdsW0yxEjajBLZtrQAAAAAAAAAAAAMAAHMiJy9UQ1VHWTJOVU5YUkpEUlc1UE1CU0NKOEtIUS4u&origin=Invitation&channel=0" 
        target="_blank"
        rel="noopener"
        >
        CUESTIONARIO DE INTELIGENCIA
       </a>
        <a class="w-full shadow-lg shadow-slate-300 max-w-sm px-6 py-3 mb-4 bg-[#0587BF] text-white text-sm rounded hover:bg-[#05DB9A] hover:text-black transition-colors duration-300 font-medium" 
        href="https://forms.office.com/Pages/ResponsePage.aspx?id=DQSIkWdsW0yxEjajBLZtrQAAAAAAAAAAAAMAAHMiJy9UMzMzUjFLTkM0VVpLNk5YQzNPOUpCUTU2SS4u&origin=Invitation&channel=0" 
        target="_blank"
        rel="noopener"
        >
        ESCALA PRP
        </a>
        <a class="w-full shadow-lg shadow-slate-300 max-w-sm px-6 py-3 mb-4 bg-[#0587BF] text-white text-sm rounded hover:bg-[#05DB9A] hover:text-black transition-colors duration-300 font-medium"
         href="https://forms.office.com/Pages/ResponsePage.aspx?id=DQSIkWdsW0yxEjajBLZtrQAAAAAAAAAAAAMAAHMiJy9UM1g4SE1MSE00WTRKUVVGTjRXQ1haVDdORi4u&origin=Invitation&channel=0" 
         target="_blank"
         rel="noopener"
         >
         CUESTIONARIO DE PERSONALIDAD
        </a>
        <a class="w-full shadow-lg shadow-slate-300 max-w-sm px-6 py-3 mb-4 bg-[#0587BF] text-white text-sm rounded hover:bg-[#05DB9A] hover:text-black transition-colors duration-300 font-medium uppercase"
        href="https://forms.office.com/Pages/ResponsePage.aspx?id=DQSIkWdsW0yxEjajBLZtrQAAAAAAAAAAAAMAAHMiJy9UOU80UjNCRUFMVVpMWFIzTEFBMlBaMTZaMS4u"
        target="_blank"
        rel="noopener"
        >
        Test de Liderazgo
       </a>
       <a class="w-full shadow-lg shadow-slate-300 max-w-sm px-6 py-3 mb-4 bg-[#0587BF] text-white text-sm rounded hover:bg-[#05DB9A] hover:text-black transition-colors duration-300 font-medium uppercase"
       href="https://forms.office.com/Pages/ResponsePage.aspx?id=DQSIkWdsW0yxEjajBLZtrQAAAAAAAAAAAAMAAHMiJy9UOUU4NkRRVzZSUlYxRjRXNTdGSVpPWDI2RC4u"
       target="_blank"
       rel="noopener"
       >
       Test DISC
      </a>
    </nav>
</section>

