---

---

<section class="py-16 mx-auto text-4xl font-bold text-center text-blue-950 lg:py-16">
    <h2 class="">Cuestionarios CliniService</h2>

</section>

<section class="flex flex-col items-center flex-grow py-5 text-center md:pt-6 ">
    <nav class="flex flex-col items-center">
        <a class="w-full shadow-lg shadow-slate-300 max-w-sm px-6 py-3 mb-4 bg-[#0587BF] text-white text-sm rounded hover:bg-[#05DB9A] hover:text-black transition-colors duration-300 font-medium" href="https://forms.office.com/Pages/ResponsePage.aspx?id=DQSIkWdsW0yxEjajBLZtrQAAAAAAAAAAAAO__TsAA5hUMU43OUkwWkNRTkVWU0dEMFNQRUtVRjlMVS4u" target="_blank">TEST 16-PF</a>
        <a class="w-full shadow-lg shadow-slate-300 max-w-sm px-6 py-3 mb-4 bg-[#0587BF] text-white text-sm rounded hover:bg-[#05DB9A] hover:text-black transition-colors duration-300 font-medium" href="https://forms.office.com/Pages/ResponsePage.aspx?id=DQSIkWdsW0yxEjajBLZtrQAAAAAAAAAAAAO__TsAA5hUMFk2UE5ZUFNYQ1lIQzdVMVZKN01GSFdWQy4u" target="_blank">TEST DE CLAUSTROFOBIA</a>
        <a class="w-full shadow-lg shadow-slate-300 max-w-sm px-6 py-3 mb-4 bg-[#0587BF] text-white text-sm rounded hover:bg-[#05DB9A] hover:text-black transition-colors duration-300 font-medium" href="https://forms.office.com/Pages/ResponsePage.aspx?id=DQSIkWdsW0yxEjajBLZtrQAAAAAAAAAAAAO__TsAA5hUQVo5R0I5OUhaWVoxM1c0MFA2SzA3VVFJVy4u" target="_blank">TEST DE HAMILTON</a>
        <a class="w-full shadow-lg shadow-slate-300 max-w-sm px-6 py-3 mb-4 bg-[#0587BF] text-white text-sm rounded hover:bg-[#05DB9A] hover:text-black transition-colors duration-300 font-medium" href="https://forms.office.com/Pages/ResponsePage.aspx?id=DQSIkWdsW0yxEjajBLZtrQAAAAAAAAAAAAO__TsAA5hUQzQwN0tGWjM5OUhSTUc1STRYM041NThLTy4u" target="_blank">CUESTIONARIO PSICOLÓGICO</a>
        <a class="w-full shadow-lg shadow-slate-300 max-w-sm px-6 py-3 mb-4 bg-[#0587BF] text-white text-sm rounded hover:bg-[#05DB9A] hover:text-black transition-colors duration-300 font-medium" href="https://forms.office.com/Pages/ResponsePage.aspx?id=DQSIkWdsW0yxEjajBLZtrQAAAAAAAAAAAAO__TsAA5hUMlJZWjRGTk1OVElLQ1FEWkU4NUZVM1hWMC4u" target="_blank">ESCALA PRP</a>
    </nav>
</section>

