---
import LocationIcon from '../icons/Location.astro'
import TimeIcon from '../icons/Time.astro'
---

<footer class="bg-[#CCDCDA] w-full py-6 px-11 text-blue-950 flex flex-col text-center md:py-14 md:flex-row justify-center items-center md:gap-4 lg:gap-8 shadow-lg">
    <div class="flex flex-col items-center mb-4 md:mr-8 md:mb-0 md:mx-4">
        <p class="py-2 mb-2 text-lg font-bold">Información Casa Matriz</p>
        <ul class="font-medium">
            <li class="flex items-start mb-2">
                 <LocationIcon />
                <span class="[text-wrap:pretty]">
                    Manuel Antonio Matta 1868, OF 603 - 607, Antofagasta
                </span>
            </li>
            <li class="flex items-start">
              <TimeIcon />
                <span class="[text-wrap:pretty]">
                    Lun - Vie 08:00 a 14:00 y 15:00 a 17:00 Sab 08:00 a 12:00
                </span>
            </li>
        </ul>
    </div>
    <div class="flex flex-col items-center mb-4 md:mr-8 md:mb-0 md:mx-4">
        <p class="py-2 mb-2 text-lg font-bold">
            Información Sucursal La Serena
        </p>
        <ul class="font-medium">
            <li class="flex items-start mb-2">
                 <LocationIcon />
                <span class="[text-wrap:pretty]">
                    Larrain Alcalde 1153, La Serena
                </span>
            </li>
            <li class="flex items-start">
                <TimeIcon />
                <span class="[text-wrap:pretty]">
                    Lun - Vie 08:00 a 14:00 y 15:00 a 17:00
                </span>
            </li>
        </ul>
    </div>
    <div class="flex flex-col items-center">
        <p class="py-2 mb-2 text-lg font-bold">
            Información Sucursal Concepción
        </p>
        <ul class="font-medium">
            <li class="flex items-start mb-1">
                <LocationIcon />
                <span class="[text-wrap:pretty]">
                    Colo Colo 357 - Local 24, Concepción
                </span>
            </li>
            <li class="flex items-start">
                <TimeIcon />
                <span class="[text-wrap:pretty]">
                    Lun - Vie 08:00 a 14:00 y 15:00 a 17:00 Sab 08:00 a 12:00
                </span>
            </li>
        </ul>
    </div>
</footer>
