---
import HeaderButton from "./HeaderButton.astro";

---


<header class="bg-[#CCDCDA] mx-auto py-6 px-10 w-full flex items-center justify-center md:justify-start">
    <article class="">
        <a class="w-1/2 max-w-[160px]" href="">
            <img class="w-52" src="src/img/logo-clini-service.png" alt="Logo">
        </a>
    </article>

</header>

