---
import Header from '../components/Header.astro';
import Content from '../components/Content.astro';
import Footer from '../components/Footer.astro'
interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/png" href="/img/02-logo.png" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body class="flex flex-col h-screen bg-white">
		<Header />
		<Content />
		<Footer />
		<main class="max-w-5xl px-4 m-auto">
			<slot />
		</main>
		
	</body>
</html>
<style is:global>
	html {
		font-family: system-ui, sans-serif;
		background: #FFFFFF;
		background-size: 224px;
		color-scheme: dark ;
	}


</style>
